@import 'tailwindcss';

/* src/index.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.6s,
    color 0.4s;
}

/* Tema claro */
:root {
  --background-color: #eaf8ff;
  --text-color: #130624;
}

/* Tema escuro */
body.dark {
  background-color: #0d1117;
  color: #e7ddf6;
}

/* desing system pesquisar */
